@import "tailwindcss";

:root {
  --font-manrope: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-manrope);
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #eff6ff; 
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}

